<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="http://static.lundberg.li/main.css" />

  <title>My Wiki</title>
</head>

<body>
  <a href="/" class="main-title">
      My Wiki
  </a>

  <div id="content">
  
      <form method="post">
          <label>
              <div>Page Name</div>
              <input type="text" name="pageName" value="{{pageName}}" >
          </label>
          <label>
              <div>Content</div>
              <textarea name="content">{{content}}</textarea>
          </label>
          <div class="error">{{error}}</div>
          <input type="submit">
      </form>
  </div>
</body>

</html>

