<!DOCTYPE html>

<html>
  <head>
    <title>Login</title>
    <link type="text/css" rel="stylesheet" href="http://static.lundberg.li/main.css" />

  </head>

  <body>
    <h2>Login</h2>
    <form method="post">
      <table>
        <tr>
          <td class="label">
            Username
          </td>
          <td>
            <input type="text" name="username" value="{{username}}">
          </td>
          <td class="error">
            {{usernameError}}
          </td>
        </tr>

        <tr>
          <td class="label">
            Password
          </td>
          <td>
            <input type="password" name="password" value="">
          </td>
          <td class="error">
            {{passwordError}}
          </td>
        </tr>
      </table>

      <input type="submit" value="Login">
    </form>
  </body>

</html>
